*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-green: #244D4D;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
}
h1,h2,h3{
    font-family: 'Noto Serif JP', serif;
    color: var(--main-green);
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
}
h3{
    font-size: 50px;
    font-weight: 600;
}
a{
    text-decoration: none;
    font-size: 16px;
}
ul{
    list-style: none;
}
button{
    border: none;
    outline: none;
}
/* NAVBAR START */
.navbar{
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar-hamburger{
    display: none;
}
.navbar-menu{
    display: flex;
    align-items: center;
}
.navbar-menu li{
    padding: 0 20px;
}
.navbar-menu li a{
    color: #242424;
}
.navbar-icons img:first-child{
    margin-right: 40px;
}
@media screen and (max-width: 750px){
    .navbar-hamburger{
        display: block;
    }
    .navbar-menu{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        display: none;
    }
    .navbar-menu li{
        padding: 15px 0;
    }
    .navbar-icons{
        display: none;
    }
    .active-navbar{
        display: flex;
    }
}
/* NAVBAR END */

/* HEADER START */
.header{
    margin-top: 100px;
}
.header .container{
    background-image: url('../images/header-img.png');
    background-size: cover;
    min-height: 800px;
    position: relative;
    background-position: center;
}
.header-content{
    background-color: #ffffff;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.header-content .content{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    position: absolute;
    width: 500px;
    padding: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.header-content .content h1{
    margin-bottom: 30px;
}
.header-content .content p{
    font-size: 20px;
    line-height: 1.5;
    color: #5F5F64;
}
@media screen and (max-width: 750px){
    .header, .header .container{
        width: 100%;
    }
    .header-content{
        width: 100%;
        background-color: transparent;
    }
    .header-content .content{
        padding: 30px;
        width: 90%;
        margin: 0 auto;
    }
}
/* HEADER END */

/* CLIENTS START */
.clients{
    margin: 80px 0 0;
    background-color: #F4F6F6;
}
.clients .container{
    padding: 60px 0 ;
}
.clients span{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.clients-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.clients-logo img{
    margin-bottom: 30px;
    padding: 0 15px;
}
/* CLIENTS END */

/* DEALS START */
.deals{
    padding: 80px 0;
}
.deals .container{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px; */
    display: grid;
    grid-template-columns:  1.5fr 1fr 1fr 1fr;
    gap: 40px;
}
.deals-heading h2{
    margin-bottom: 30px;
}
.deals-heading p{
    color: #5F5F64;
    line-height: 1.5;
}
.deal{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.deal img{
    width: 40px;
}
.deal span{
    color: #3D3D3F;
    font-size: 20px;
    font-weight: 600;
}
.deal p{
    font-size: 16px;
    color: #5F5F64;
    line-height: 1.5;
}
@media screen and (max-width: 750px){
    .deals .container{
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
}
/* DEALS END */

/* ABOUT START */
.about{
    padding: 80px 0;
}
.about-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.about-heading .heading h2{
    margin-bottom: 20px;
}
.about-heading .heading p{
    color: #64717C;
    font-size: 20px;
    line-height: 1.5;
}
.about-heading button{
    width: 165px;
    height: 54px;
    background: #F4F6F6;
    box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
    border-radius: 5px;
    text-align: center;
    color: #5F5F64;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 60px;
}
.about-content .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.about-box span{
    color: #244D4D;
    font-size: 4rem;
    font-weight: 600;
}
.about-box h4{
    color: #244D4D;
    margin: 30px 0 20px;
    font-size: 20px;
    font-weight: 600;
}
.about-box p{
    color: #5F5F64;
    font-size: 16px;
    line-height: 1.5;
}
.about-content .image img{
    width: 100%;
}
@media screen and (max-width: 800px){
    .about-heading{
        justify-content: space-evenly;
        flex-direction: column;
        row-gap: 60px;
    }
    .about-heading .heading h2 , .about-heading .heading p{
        text-align: center;
    }
    .about-content{
        grid-template-columns: 1fr;
        row-gap: 80px;
    }
}
/* ABOUT END */